* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

h2 {
  color: #333;
  margin-bottom: 1rem;
}

#newsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content:center;
  background-color: grey;
  padding: 10px;
}

#newsContainer .newsItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

.newsItem{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  width: 75%;                  /* Full width of the display */
  height: auto;                 /* Automatic height based on content */         /* For absolute positioning of inner elements if needed */             /* Hide any overflow content */
  aspect-ratio: 11/3;
  justify-content: center;
}

.newsDate p{
  font-style: italic;
}

.newsData{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsBullets{
  text-align: start;
  margin: 5px;
  margin-left: 0px;
}

.newsArticle{
  display: flex;        /* Use flexbox for centering */      /* Center horizontally */
  flex-direction: column;
}

.newsArticle img{
  width: 100%;       /* Make the image fill the width of the parent div */
   height: 500px;
   padding: 25px;
}

.newsArticle p{
  margin-top: 2px;
}

.disclaimer {
  background-color: yellow;
  padding: 10px;
  border: 3px solid black;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
/* For screens larger than 768px */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img, video {
    max-width: 100%;
    height: auto;
